 a {
    text-decoration: none;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

.card-text{

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.card-title{


    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.card button{
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
}